@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner"><img id='img_banner' src='images/content/content_banner.png' width='1133' height='98' border='0'  /></div>
          <div class="subcontent">
               <div class="subcontent_nav">
               </div>
               <div class="subcontent_container">
                    <div class="subcontent_sidebar"><img id='img_subcontent_sidebar' src='images/content/content_subcontent_sidebar.png' width='316' height='917' border='0'  /></div>
                    <div class="subcontent_content"><img id='img_subcontent_content' src='images/content/content_subcontent_content.png' width='817' height='917' border='0'  /></div>
               </div>
          </div>