<?xml version="1.0"?>
<configuration>
  <appSettings> 
    <add key="DataAccess" value="SqlServerDataAccess" /> 
  </appSettings>
  <connectionStrings>
    <add name="OracleDataAccess" connectionString="Data Source=vm06;Persist Security Info=True;User ID=BKONLINESYS;password=BKONLINESYS;" providerName="System.Data.OracleClient"/>
    <add name="SqlServerDataAccess" connectionString="Data Source='127.0.0.1';Initial Catalog=Cnita;User ID=sa;Password=u.7PRw_e*SuAR3cQOBW_V5_IC" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
