USE [cnita]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/13/2013 17:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[PassWord] [nvarchar](200) NOT NULL,
	[Organization] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Permissions] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'PassWord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织机构' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Organization'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Permissions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User'
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [Name], [Account], [PassWord], [Organization], [Status], [Permissions], [CreateDate]) VALUES (1, N'admin', N'admin', N'123456', 3, 1, NULL, CAST(0x0000A28D00B37879 AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Pictures]    Script Date: 12/13/2013 17:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CategoryId] [int] NOT NULL,
	[Owner] [int] NULL,
	[PicUri] [nvarchar](100) NOT NULL,
	[PicLink] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'CategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'归属' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'Owner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'PicUri'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'PicLink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pictures'
GO
SET IDENTITY_INSERT [dbo].[Pictures] ON
INSERT [dbo].[Pictures] ([Id], [Name], [CategoryId], [Owner], [PicUri], [PicLink], [Status], [CreateDate]) VALUES (7, N'测试广告', 2, 0, N'', N'http://www.baidu.com', 0, CAST(0x0000A28C00EFB1BE AS DateTime))
INSERT [dbo].[Pictures] ([Id], [Name], [CategoryId], [Owner], [PicUri], [PicLink], [Status], [CreateDate]) VALUES (9, N'默认Banner-图片二', 31, NULL, N'201312082203487246.jpg', N'#', 0, CAST(0x0000A28F009C8E41 AS DateTime))
INSERT [dbo].[Pictures] ([Id], [Name], [CategoryId], [Owner], [PicUri], [PicLink], [Status], [CreateDate]) VALUES (10, N'默认Banner-图片一', 31, NULL, N'201312082203322833.jpg', N'#', 0, CAST(0x0000A28F009C6724 AS DateTime))
SET IDENTITY_INSERT [dbo].[Pictures] OFF
/****** Object:  Table [dbo].[Organization]    Script Date: 12/13/2013 17:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrgId] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [nvarchar](100) NOT NULL,
	[OrgEnName] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[AddressEn] [nvarchar](200) NULL,
	[ZipCode] [nchar](20) NULL,
	[InternetSite] [nvarchar](200) NULL,
	[NatureOfBusiness] [nvarchar](50) NULL,
	[FixedAssets] [nvarchar](200) NULL,
	[LegalPerson] [nvarchar](50) NULL,
	[Post] [nvarchar](50) NULL,
	[Tel] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[ContactPost] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[ContactFax] [nvarchar](50) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[UnitType] [nvarchar](200) NULL,
	[ProductApplications] [nvarchar](300) NULL,
	[ProcessCategory] [nvarchar](300) NULL,
	[MembershipLevel] [nvarchar](50) NULL,
	[Introduction] [text] NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrgId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'OrgId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织机构名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'OrgName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织机构英文名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'OrgEnName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通讯地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通讯地址(英文)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'AddressEn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮编' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ZipCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'InternetSite'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'企业性质' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'NatureOfBusiness'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'固定资产' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'FixedAssets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'企业负责人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'LegalPerson'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'职务' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Post'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'传真' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主要联系人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Contact'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'职务' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ContactPost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ContactTel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'传真' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ContactFax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ContactPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-mail' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ContactEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单位类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'UnitType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主要产品涉及的应用领域' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ProductApplications'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主要非织造布生产工艺类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'ProcessCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'MembershipLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单位简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Introduction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织机构表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organization'
GO
SET IDENTITY_INSERT [dbo].[Organization] ON
SET IDENTITY_INSERT [dbo].[Organization] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 12/13/2013 17:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NULL,
	[Thumbnails] [nvarchar](200) NULL,
	[Introduction] [text] NULL,
	[ParentCateg] [int] NOT NULL,
	[Sort] [int] NULL,
	[IsNav] [int] NULL,
	[IsIndex] [int] NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'英文名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'NameEn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缩略图' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Thumbnails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Introduction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'ParentCateg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导航' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'IsNav'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否首页' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'IsIndex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Category'
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([Id], [Name], [NameEn], [Thumbnails], [Introduction], [ParentCateg], [Sort], [IsNav], [IsIndex], [Status], [CreateDate]) VALUES (1, N'版块', NULL, NULL, NULL, 0, 0, 0, 0, 1, CAST(0x0000A2850160DBA9 AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [NameEn], [Thumbnails], [Introduction], [ParentCateg], [Sort], [IsNav], [IsIndex], [Status], [CreateDate]) VALUES (2, N'行业分会', N'~/Article/Assoc?id=3', N'201312091312350688.jpg', N'<p>行业分会....<br/></p>', 1, 1, 1, 0, 0, CAST(0x0000A29200F56BF5 AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [NameEn], [Thumbnails], [Introduction], [ParentCateg], [Sort], [IsNav], [IsIndex], [Status], [CreateDate]) VALUES (3, N'资讯频道', N'~/Article/newslist', NULL, NULL, 1, 5, 1, 0, 0, CAST(0x0000A29200ACAB3A AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Article]    Script Date: 12/13/2013 17:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[Source] [nvarchar](50) NULL,
	[Context] [text] NOT NULL,
	[Abstract] [nvarchar](500) NULL,
	[Thumbnails] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[CategoryTwo] [int] NULL,
	[Keyword] [nvarchar](100) NULL,
	[IsRecommend] [int] NULL,
	[TitleColor] [nvarchar](50) NULL,
	[TitleIsBold] [int] NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Author'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'来源' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Source'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Context'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'摘要' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Abstract'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'预览图' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Thumbnails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'CategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'第二类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'CategoryTwo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关键字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Keyword'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推荐' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'IsRecommend'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'颜色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'TitleColor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'加粗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'TitleIsBold'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文章表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Article'
GO
SET IDENTITY_INSERT [dbo].[Article] ON
SET IDENTITY_INSERT [dbo].[Article] OFF
/****** Object:  StoredProcedure [dbo].[usp_user_update_status]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User UPDATE STATUS
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_user_update_status] 
	@Id int, 
	@Status int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM [User] WHERE [Id] = @Id )
	BEGIN
		UPDATE  [User] 
		SET
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END  
		WHERE [Id] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_user_select_pager]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_user_select_pager] 
	@Organization NVARCHAR(50),
	@KeyWord NVARCHAR(200),
	@PagerIndex INT , 
	@PagerSize INT , 
	@RowsCount INT OUT 
AS
BEGIN 
	DECLARE @TotalPages INT ,@StartRow INT ,@EndRow INT
	SET @RowsCount = (
                    SELECT COUNT(*) FROM [User]
                    WHERE (@Organization IS NULL OR Organization = @Organization)
                    AND (@KeyWord IS NULL OR Name LIKE '%'+@KeyWord+'%')
                    AND (@KeyWord IS NULL OR  Account LIKE '%'+@KeyWord+'%')
                    )
	SET @TotalPages = CEILING(CONVERT(FLOAT, @RowsCount) / @PagerSize)
	IF @PagerIndex > @TotalPages 
		SET @PagerIndex = @TotalPages
	IF @PagerIndex < 1 
		SET @PagerIndex = 1
	SET @StartRow = ( @PagerIndex - 1 ) * @PagerSize + 1
	IF @RowsCount > @PagerIndex * @PagerSize 
		SET @EndRow = @PagerIndex * @PagerSize 
	ELSE 
		SET @EndRow = @RowsCount ; 
	WITH temptbl AS ( 
					SELECT ROW_NUMBER() OVER ( ORDER BY  [Id]  DESC ) AS 'row_no' ,* 
					FROM [User]
					WHERE (@Organization IS NULL OR Organization = @Organization)
                    AND (@KeyWord IS NULL OR Name LIKE '%'+@KeyWord+'%')
                    AND (@KeyWord IS NULL OR  Account LIKE '%'+@KeyWord+'%')
					)
	SELECT  * FROM temptbl 
	WHERE row_no BETWEEN @StartRow AND @EndRow
END
GO
/****** Object:  StoredProcedure [dbo].[usp_user_select_detail_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_user_select_detail_by_id]
  @Id int
AS
    BEGIN 
        SELECT * FROM [User] WHERE [Id] = @Id 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_user_select_detail_by_account]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_user_select_detail_by_account]
  @Account nvarchar(200)
AS
    BEGIN 
        SELECT * FROM [User] WHERE [Account] = @Account 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_user_select_all]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_user_select_all]

AS
BEGIN 
    SELECT * FROM [User] 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_user_insert_update]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User INSERT UPDATE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_user_insert_update] 
	@Id int,
	@Name nvarchar(100),
	@Account nvarchar(100),
	@Password nvarchar(400),
	@Organization int,
	@Status int,
	@Permissions nvarchar(200) ,
	@resultMsg nvarchar(200) out
AS
BEGIN 
IF @Id = 0
begin
	IF EXISTS(SELECT * FROM [User] WHERE [Account] = @Account )
	begin
		set @resultMsg = 'Error:账号已存在!'
	end
	else
	begin
		IF EXISTS(SELECT * FROM [User] WHERE [Id] = @Id )
			BEGIN
				UPDATE  [User] 
				SET 
				[Name] = CASE WHEN @Name IS NOT NULL THEN @Name ELSE [Name] END ,
				[Account] =  @Account ,
				[PassWord] = CASE WHEN @Password IS NOT NULL THEN @Password ELSE [PassWord] END ,
				[Organization] = CASE WHEN @Organization IS NOT NULL THEN @Organization ELSE [Organization] END ,
				[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END ,
				[Permissions] =  @Permissions ,
				[CreateDate] = GETDATE()
				WHERE [Id] = @Id   
			END 
			ELSE 
			BEGIN 
				INSERT INTO  [User]   ( 
				
				[Name]  ,
				[Account]  ,
				[PassWord]  ,
				[Organization]  ,
				[Status]  ,
				[Permissions]  ,
				[CreateDate]  
				) VALUES (  
				@Name  ,
				@Account  ,
				@Password  ,
				@Organization  ,
				@Status  ,
				@Permissions  ,
				GETDATE()
				) 
			END
			
			set @resultMsg = 'Success:Success'
		END
end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_user_delete]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   User DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_user_delete] 
	@Id int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM [User] WHERE [Id] = @Id )
	BEGIN
		DELETE  [User] 
		WHERE [Id] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_update_status]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures UPDATE STATUS
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_pictures_update_status] 
	@Id int, 
	@Status int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM Pictures WHERE [Id] = @Id )
	BEGIN
		UPDATE  Pictures 
		SET
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END  
		WHERE [Id] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_select_pager]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_pictures_select_pager] 
	@PagerIndex INT , 
	@PagerSize INT , 
	@KeyWord NVARCHAR(500) ,
	@Category NVARCHAR(200),
	@OwnerCode NVARCHAR(200),
	@RowCount INT OUT 
AS
BEGIN 
	DECLARE @TotalPages INT ,@StartRow INT ,@EndRow INT
	SET @RowCount = (
                    SELECT COUNT(P.Id) FROM Pictures P
                    INNER JOIN Category C ON C.Id = P.CategoryId
                    AND (@Category IS NULL OR C.Id = @Category)
                    WHERE (@KeyWord is null or P.Name LIKE '%'+@KeyWord+'%')
                    AND (@OwnerCode IS NULL OR Owner = @OwnerCode)
                    )
	SET @TotalPages = CEILING(CONVERT(FLOAT, @RowCount) / @PagerSize)
	IF @PagerIndex > @TotalPages 
		SET @PagerIndex = @TotalPages
	IF @PagerIndex < 1 
		SET @PagerIndex = 1
	SET @StartRow = ( @PagerIndex - 1 ) * @PagerSize + 1
	IF @RowCount > @PagerIndex * @PagerSize 
		SET @EndRow = @PagerIndex * @PagerSize 
	ELSE 
		SET @EndRow = @RowCount ; 
	WITH temptbl AS ( 
					SELECT ROW_NUMBER() OVER ( ORDER BY  p.[Id]  DESC ) AS 'row_no' ,
					P.* ,C.Name AS CategoryName,
					(SELECT D.Name FROM Category D WHERE D.Id = P.[Owner]) AS OwnerCategoryName
					FROM Pictures P
                    INNER JOIN Category C ON C.Id = P.CategoryId
                    AND (@Category IS NULL OR C.Id = @Category)
                    WHERE (@KeyWord is null or P.Name LIKE '%'+@KeyWord+'%')
                    AND (@OwnerCode IS NULL OR Owner = @OwnerCode)
					)
	SELECT  * FROM temptbl 
	WHERE row_no BETWEEN @StartRow AND @EndRow
END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_select_detail_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_pictures_select_detail_by_id]
  @Id int
AS
    BEGIN 
        SELECT p.*,c.Name as CategoryName 
        ,(SELECT D.Name FROM Category D WHERE D.Id = P.[Owner]) AS OwnerCategoryName
        FROM Pictures P
        INNER JOIN Category C ON C.Id = P.CategoryId 
        WHERE P.[Id] = @Id 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_select_by_owner]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures SELECT BY OWNER
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_pictures_select_by_owner]
  @CategoryCode NVARCHAR(50),
  @OwnerCode NVARCHAR(50)
AS
    BEGIN 
        SELECT p.*,c.Name as CategoryName 
        ,(SELECT D.Name FROM Category D WHERE D.Id = P.[Owner]) AS OwnerCategoryName
        FROM Pictures P
        INNER JOIN Category C ON C.Id = P.CategoryId 
        AND (@CategoryCode IS NULL OR CategoryId = @CategoryCode)
        WHERE (@OwnerCode IS NULL OR p.Owner = @OwnerCode)
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_select_all]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_pictures_select_all]

AS
BEGIN 
    SELECT * FROM Pictures  
END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_insert_update]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures INSERT UPDATE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_pictures_insert_update] 
	@Id int,
	@Name nvarchar(100),
	@Categoryid int,
	@Owner int,
	@Picuri nvarchar(200),
	@Piclink nvarchar(200),
	@Status int
AS
BEGIN 
IF EXISTS(SELECT * FROM Pictures WHERE [Id] = @Id )
	BEGIN
		UPDATE  Pictures 
		SET
		[Name] = CASE WHEN @Name IS NOT NULL THEN @Name ELSE [Name] END ,
		[CategoryId] = CASE WHEN @Categoryid IS NOT NULL THEN @Categoryid ELSE [CategoryId] END ,
		[Owner] = @Owner ,
		[PicUri] = CASE WHEN @Picuri IS NOT NULL THEN @Picuri ELSE [PicUri] END ,
		[PicLink] = @Piclink ,
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END ,
		[CreateDate] = GETDATE()
		WHERE [Id] = @Id   
	END 
	ELSE 
	BEGIN 
		INSERT INTO  Pictures   ( 
		[Name]  ,
		[CategoryId]  ,
		[Owner]  ,
		[PicUri]  ,
		[PicLink]  ,
		[Status]  
		) VALUES ( 
		@Name  ,
		@Categoryid  ,
		@Owner  ,
		@Picuri  ,
		@Piclink  ,
		@Status   
		) 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_pictures_delete_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Pictures delete
-- ===========================================================
Create PROCEDURE  [dbo].[usp_pictures_delete_by_id]
  @Id int
AS
    BEGIN 
        delete Pictures  WHERE [Id] = @Id 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_update_status]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Organization UPDATE STATUS
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_organization_update_status] 
	@Orgid int, 
	@Status int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM Organization WHERE [OrgId] = @Orgid )
	BEGIN
		UPDATE  Organization 
		SET
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END  
		WHERE [OrgId] = @Orgid   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_select_pager]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Organization DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_organization_select_pager] 
	@KeyWord nvarchar(200),
	@PagerIndex INT , 
	@PagerSize INT , 
	@RowCount INT OUT 
AS
BEGIN 
	DECLARE @TotalPages INT ,@StartRow INT ,@EndRow INT
	SET @RowCount = (
                    SELECT COUNT(*) FROM Organization
                    WHERE  (@KeyWord IS null or OrgName like '%'+@KeyWord+'%')
                    )
	SET @TotalPages = CEILING(CONVERT(FLOAT, @RowCount) / @PagerSize)
	IF @PagerIndex > @TotalPages 
		SET @PagerIndex = @TotalPages
	IF @PagerIndex < 1 
		SET @PagerIndex = 1
	SET @StartRow = ( @PagerIndex - 1 ) * @PagerSize + 1
	IF @RowCount > @PagerIndex * @PagerSize 
		SET @EndRow = @PagerIndex * @PagerSize 
	ELSE 
		SET @EndRow = @RowCount ; 
	WITH temptbl AS ( 
					SELECT ROW_NUMBER() OVER ( ORDER BY  [OrgId]  DESC ) AS 'row_no' ,* 					
					FROM Organization 
					WHERE  (@KeyWord IS null or OrgName like '%'+@KeyWord+'%')
					)
	SELECT  * FROM temptbl 
	WHERE row_no BETWEEN @StartRow AND @EndRow
END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_select_detail_by_orgid]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Organization SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_organization_select_detail_by_orgid]
  @Orgid int
AS
    BEGIN 
        SELECT * FROM Organization WHERE [OrgId] = @Orgid 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_select_all]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Organization SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_organization_select_all]

AS
BEGIN 
    SELECT * FROM Organization  
END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_insert_update]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Organization INSERT UPDATE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_organization_insert_update] 
	@Orgid int,
	@Orgname nvarchar(200),
	@Orgenname nvarchar(200),
	@Address nvarchar(400),
	@Addressen nvarchar(400),
	@Zipcode nchar (40),
	@Internetsite nvarchar(400),
	@Natureofbusiness nvarchar(100),
	@Fixedassets nvarchar(400),
	@Legalperson nvarchar(100),
	@Post nvarchar(100),
	@Tel nvarchar(100),
	@Fax nvarchar(100),
	@Phone nvarchar(100),
	@Email nvarchar(100),
	@Contact nvarchar(100),
	@Contactpost nvarchar(100),
	@Contacttel nvarchar(100),
	@Contactfax nvarchar(100),
	@Contactphone nvarchar(100),
	@Contactemail nvarchar(100),
	@Unittype nvarchar(400),
	@Productapplications nvarchar(600),
	@Processcategory nvarchar(600),
	@Membershiplevel nvarchar(100),
	@Introduction text,
	@Status int 
AS
BEGIN 
IF EXISTS(SELECT * FROM Organization WHERE [OrgId] = @Orgid )
	BEGIN
		UPDATE  Organization 
		SET 
		[OrgName] = CASE WHEN @Orgname IS NOT NULL THEN @Orgname ELSE [OrgName] END ,
		[OrgEnName] = CASE WHEN @Orgenname IS NOT NULL THEN @Orgenname ELSE [OrgEnName] END ,
		[Address] = CASE WHEN @Address IS NOT NULL THEN @Address ELSE [Address] END ,
		[AddressEn] = CASE WHEN @Addressen IS NOT NULL THEN @Addressen ELSE [AddressEn] END ,
		[ZipCode] = CASE WHEN @Zipcode IS NOT NULL THEN @Zipcode ELSE [ZipCode] END ,
		[InternetSite] = CASE WHEN @Internetsite IS NOT NULL THEN @Internetsite ELSE [InternetSite] END ,
		[NatureOfBusiness] = CASE WHEN @Natureofbusiness IS NOT NULL THEN @Natureofbusiness ELSE [NatureOfBusiness] END ,
		[FixedAssets] = CASE WHEN @Fixedassets IS NOT NULL THEN @Fixedassets ELSE [FixedAssets] END ,
		[LegalPerson] = CASE WHEN @Legalperson IS NOT NULL THEN @Legalperson ELSE [LegalPerson] END ,
		[Post] = CASE WHEN @Post IS NOT NULL THEN @Post ELSE [Post] END ,
		[Tel] = CASE WHEN @Tel IS NOT NULL THEN @Tel ELSE [Tel] END ,
		[Fax] = CASE WHEN @Fax IS NOT NULL THEN @Fax ELSE [Fax] END ,
		[Phone] = CASE WHEN @Phone IS NOT NULL THEN @Phone ELSE [Phone] END ,
		[Email] = CASE WHEN @Email IS NOT NULL THEN @Email ELSE [Email] END ,
		[Contact] = CASE WHEN @Contact IS NOT NULL THEN @Contact ELSE [Contact] END ,
		[ContactPost] = CASE WHEN @Contactpost IS NOT NULL THEN @Contactpost ELSE [ContactPost] END ,
		[ContactTel] = CASE WHEN @Contacttel IS NOT NULL THEN @Contacttel ELSE [ContactTel] END ,
		[ContactFax] = CASE WHEN @Contactfax IS NOT NULL THEN @Contactfax ELSE [ContactFax] END ,
		[ContactPhone] = CASE WHEN @Contactphone IS NOT NULL THEN @Contactphone ELSE [ContactPhone] END ,
		[ContactEmail] = CASE WHEN @Contactemail IS NOT NULL THEN @Contactemail ELSE [ContactEmail] END ,
		[UnitType] = CASE WHEN @Unittype IS NOT NULL THEN @Unittype ELSE [UnitType] END ,
		[ProductApplications] = CASE WHEN @Productapplications IS NOT NULL THEN @Productapplications ELSE [ProductApplications] END ,
		[ProcessCategory] = CASE WHEN @Processcategory IS NOT NULL THEN @Processcategory ELSE [ProcessCategory] END ,
		[MembershipLevel] = CASE WHEN @Membershiplevel IS NOT NULL THEN @Membershiplevel ELSE [MembershipLevel] END ,
		[Introduction] = CASE WHEN @Introduction IS NOT NULL THEN @Introduction ELSE [Introduction] END ,
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END ,
		[CreateDate] = GETDATE()
		WHERE [OrgId] = @Orgid   
	END 
	ELSE 
	BEGIN 
		INSERT INTO  Organization   (  
		[OrgName]  ,
		[OrgEnName]  ,
		[Address]  ,
		[AddressEn]  ,
		[ZipCode]  ,
		[InternetSite]  ,
		[NatureOfBusiness]  ,
		[FixedAssets]  ,
		[LegalPerson]  ,
		[Post]  ,
		[Tel]  ,
		[Fax]  ,
		[Phone]  ,
		[Email]  ,
		[Contact]  ,
		[ContactPost]  ,
		[ContactTel]  ,
		[ContactFax]  ,
		[ContactPhone]  ,
		[ContactEmail]  ,
		[UnitType]  ,
		[ProductApplications]  ,
		[ProcessCategory]  ,
		[MembershipLevel]  ,
		[Introduction]  ,
		[Status]  
		) VALUES (  
		@Orgname  ,
		@Orgenname  ,
		@Address  ,
		@Addressen  ,
		@Zipcode  ,
		@Internetsite  ,
		@Natureofbusiness  ,
		@Fixedassets  ,
		@Legalperson  ,
		@Post  ,
		@Tel  ,
		@Fax  ,
		@Phone  ,
		@Email  ,
		@Contact  ,
		@Contactpost  ,
		@Contacttel  ,
		@Contactfax  ,
		@Contactphone  ,
		@Contactemail  ,
		@Unittype  ,
		@Productapplications  ,
		@Processcategory  ,
		@Membershiplevel  ,
		@Introduction  ,
		@Status  
		) 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_organization_delete]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-06
-- Description:   Organization DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_organization_delete] 
	@Id int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM Organization WHERE [OrgId] = @Id )
	BEGIN
		DELETE  Organization 
		WHERE [OrgId] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_update_status]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category UPDATE STATUS
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_category_update_status] 
	@Id int, 
	@Status int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM Category WHERE [Id] = @Id )
	BEGIN
		UPDATE  Category 
		SET
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END  
		WHERE [Id] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_select_pager]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_category_select_pager] 
	@PagerIndex INT , 
	@PagerSize INT , 
	@RowCount INT OUT 
AS
BEGIN 
	DECLARE @TotalPages INT ,@StartRow INT ,@EndRow INT
	SET @RowCount = (
                    SELECT COUNT(*) FROM Category
                      --WHERE 语句
                    )
	SET @TotalPages = CEILING(CONVERT(FLOAT, @RowCount) / @PagerSize)
	IF @PagerIndex > @TotalPages 
		SET @PagerIndex = @TotalPages
	IF @PagerIndex < 1 
		SET @PagerIndex = 1
	SET @StartRow = ( @PagerIndex - 1 ) * @PagerSize + 1
	IF @RowCount > @PagerIndex * @PagerSize 
		SET @EndRow = @PagerIndex * @PagerSize 
	ELSE 
		SET @EndRow = @RowCount ; 
	WITH temptbl AS ( 
					SELECT ROW_NUMBER() OVER ( ORDER BY  [Id]  DESC ) AS 'row_no' ,* 
					FROM Category 
					--WHERE --where 条件
					)
	SELECT  * FROM temptbl 
	WHERE row_no BETWEEN @StartRow AND @EndRow
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_select_detail_by_pid]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_category_select_detail_by_pid]
  @Id INT,
  @StartDate DATE,
  @EndDate DATE
AS
    BEGIN 
        SELECT TOP 1 * FROM Category 
        WHERE ParentCateg = @Id AND 
        CreateDate BETWEEN @StartDate AND @EndDate 
        ORDER BY CreateDate DESC
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_select_detail_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_category_select_detail_by_id]
  @Id int
AS
    BEGIN 
        SELECT * FROM Category WHERE [Id] = @Id 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_select_all_by_three]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_category_select_all_by_three]
@ParentCateg INT
AS
BEGIN 
    WITH QueryCategorys (ParentCateg,Id,LEVEL,name) AS(
	SELECT ParentCateg,Id, 0 LEVEL,name FROM Category WHERE ParentCateg = @ParentCateg
	UNION ALL
	SELECT c.ParentCateg,c.Id,b.level+1,c.name FROM Category c,QueryCategorys b
	WHERE c.ParentCateg = b.Id
)
SELECT * FROM QueryCategorys 
    
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_select_all]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_category_select_all]
@ParentCateg INT,
@IsNav NVARCHAR(50)
AS
BEGIN 
    IF @ParentCateg > 0     
		SELECT * FROM Category  WHERE (ParentCateg =@ParentCateg or Id= @ParentCateg ) AND (@IsNav IS NULL OR IsNav=@IsNav or IsNav=1) order by Sort
	ELSE
		SELECT * FROM Category WHERE (@IsNav IS NULL OR IsNav=@IsNav)
    
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_insert_update]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category INSERT UPDATE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_category_insert_update] 
	@Id int,
	@Name nvarchar(100),
	@Nameen nvarchar(100),
	@Thumbnails nvarchar(400),
	@Introduction nvarchar(1000),
	@Parentcateg int,
	@Sort int,
	@Isnav int,
	@Isindex int,
	@Status int
AS
BEGIN 
IF EXISTS(SELECT * FROM Category WHERE [Id] = @Id )
	BEGIN
		UPDATE  Category 
		SET
		[Name] = CASE WHEN @Name IS NOT NULL THEN @Name ELSE [Name] END ,
		[NameEn] = CASE WHEN @Nameen IS NOT NULL THEN @Nameen ELSE [NameEn] END ,
		[Thumbnails] = CASE WHEN @Thumbnails IS NOT NULL THEN @Thumbnails ELSE [Thumbnails] END ,
		[Introduction] = CASE WHEN @Introduction IS NOT NULL THEN @Introduction ELSE [Introduction] END ,
		[ParentCateg] = CASE WHEN @Parentcateg IS NOT NULL THEN @Parentcateg ELSE [ParentCateg] END ,
		[Sort] = CASE WHEN @Sort IS NOT NULL THEN @Sort ELSE [Sort] END ,
		[IsNav] = CASE WHEN @Isnav IS NOT NULL THEN @Isnav ELSE [IsNav] END ,
		[IsIndex] = CASE WHEN @Isindex IS NOT NULL THEN @Isindex ELSE [IsIndex] END ,
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END ,
		[CreateDate] = GETDATE()
		WHERE [Id] = @Id   
	END 
	ELSE 
	BEGIN 
		INSERT INTO  Category   ( 
		[Name]  ,
		[NameEn]  ,
		[Thumbnails]  ,
		[Introduction]  ,
		[ParentCateg]  ,
		[Sort]  ,
		[IsNav]  ,
		[IsIndex]  ,
		[Status]    
		) VALUES ( 
		@Name  ,
		@Nameen  ,
		@Thumbnails  ,
		@Introduction  ,
		@Parentcateg  ,
		@Sort  ,
		@Isnav  ,
		@Isindex  ,
		@Status  
		) 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_category_delete_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Category DELETE
-- ===========================================================
Create PROCEDURE  [dbo].[usp_category_delete_by_id]
  @Id int
AS
    BEGIN 
        DELETE Category WHERE [Id] = @Id 
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_update_status]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article UPDATE STATUS
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_article_update_status] 
	@Id int, 
	@Status int, 
	@resultMsg NVARCHAR(500) OUT
AS
BEGIN 
IF EXISTS(SELECT * FROM Article WHERE [Id] = @Id )
	BEGIN
		UPDATE  Article 
		SET
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END  
		WHERE [Id] = @Id   
		SET @resultMsg = 'Success:Success' 
	END 
	ELSE 
	BEGIN 
		SET @resultMsg = 'Error:NoData' 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_select_pager]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article DELETE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_article_select_pager] 
	@CategoryId NVARCHAR(20),
	@CategoryTwo NVARCHAR(20),
	@KeyWord NVARCHAR(200),
	@PagerIndex INT , 
	@PagerSize INT , 
	@RowsCount INT OUT
AS
BEGIN 
	DECLARE @TotalPages INT ,@StartRow INT ,@EndRow INT
	SET @RowsCount = (
					  SELECT COUNT(*) FROM Article
                      WHERE (@CategoryId IS NULL OR CategoryId = @CategoryId)
                      AND (@CategoryTwo IS NULL OR CategoryTwo = @CategoryTwo)
                      AND (@KeyWord IS NULL OR  Title LIKE '%'+@KeyWord+'%')
                    )
	SET @TotalPages = CEILING(CONVERT(FLOAT, @RowsCount) / @PagerSize)
	IF @PagerIndex > @TotalPages 
		SET @PagerIndex = @TotalPages
	IF @PagerIndex < 1 
		SET @PagerIndex = 1
	SET @StartRow = ( @PagerIndex - 1 ) * @PagerSize + 1
	IF @RowsCount > @PagerIndex * @PagerSize 
		SET @EndRow = @PagerIndex * @PagerSize 
	ELSE 
		SET @EndRow = @RowsCount ; 
	WITH temptbl AS ( 
					SELECT ROW_NUMBER() OVER ( ORDER BY  [Id]  DESC ) AS 'row_no' ,A.*,
					(SELECT Name FROM Category WHERE Id = A.CategoryId) AS CategoryName
					FROM Article A
					WHERE (@CategoryId IS NULL OR CategoryId = @CategoryId)
					AND (@CategoryTwo IS NULL OR CategoryTwo = @CategoryTwo)
                    AND (@KeyWord IS NULL OR  Title LIKE '%'+@KeyWord+'%')
					)
	SELECT  * FROM temptbl 
	WHERE row_no BETWEEN @StartRow AND @EndRow
END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_select_detail_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article SELECT DETAIL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_article_select_detail_by_id]
  @Id int
AS
    BEGIN 
        SELECT  *
        ,C.Name AS CategoryName
         FROM Article A INNER JOIN Category C
         ON A.CategoryId = C.Id AND a.Id = @Id
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_select_by_top]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article SELECT BY TOP
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_article_select_by_top]
  @AdsCategoryCode NVARCHAR(50) ,
  @CategoryCode NVARCHAR(50),
  @CategoryTwoCode NVARCHAR(50),
  @TopCount int,
  @CategName Nvarchar(200) out,
  @Thumbnails nvarchar(200) out,
  @Introduction nvarchar(200) out ,
  @CategIsAds int out,
  @resultMsg nvarchar(200) out
AS
    BEGIN
		IF EXISTS(SELECT * FROM Category WHERE [Id] = @CategoryCode )
		BEGIN
			SELECT top 1  @CategName = Name,@Thumbnails=Thumbnails,@Introduction=Introduction FROM Category WHERE [Id] = @CategoryCode ;
			SET @CategIsAds =(SELECT COUNT(*) FROM Pictures P WHERE P.CategoryId = @AdsCategoryCode AND P.Owner=@CategoryCode );
			if @CategoryTwoCode = @CategoryCode
			BEGIN 
				SELECT TOP (@topCount) *
				,C.Name AS CategoryName
				FROM Article A INNER JOIN Category C
				ON A.CategoryId = C.Id  
				AND (@CategoryTwoCode IS NULL OR A.CategoryTwo = @CategoryTwoCode )
				order by a.createdate desc ;
			END
			ELSE
			BEGIN
				SELECT TOP (@topCount) *
				,C.Name AS CategoryName
				FROM Article A INNER JOIN Category C
				ON A.CategoryId = C.Id 
				AND (@CategoryCode IS NULL OR A.CategoryId = @CategoryCode)
				AND (@CategoryTwoCode IS NULL OR A.CategoryTwo = @CategoryTwoCode )
				order by a.createdate desc ;
			END
			SET @resultMsg = 'Success:Success' 
		END
		ELSE
		BEGIN
			SET @CategName = ''
			SET @CategIsAds = 0 
			SET @resultMsg = 'Error:NoData' 
		END
      
        
    END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_select_all]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article SELECT ALL
-- ===========================================================
CREATE PROCEDURE  [dbo].[usp_article_select_all]

AS
BEGIN 
    SELECT * FROM Article  
END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_insert_update]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-12-03
-- Description:   Article INSERT UPDATE
-- ===========================================================
CREATE PROCEDURE [dbo].[usp_article_insert_update] 
	@Id int,
	@Title nvarchar(600),
	@Author nvarchar(100),
	@Source nvarchar(100),
	@Context text,
	@Abstract nvarchar(1000),
	@Thumbnails nvarchar(200),
	@Categoryid int,
	@Categorytwo int,
	@Keyword nvarchar(200),
	@Isrecommend int,
	@Titlecolor nvarchar(100),
	@Titleisbold int,
	@Status int 
AS
BEGIN 
IF EXISTS(SELECT * FROM Article WHERE [Id] = @Id )
	BEGIN
		UPDATE  Article 
		SET 
		[Title] = CASE WHEN @Title IS NOT NULL THEN @Title ELSE [Title] END ,
		[Author] = CASE WHEN @Author IS NOT NULL THEN @Author ELSE [Author] END ,
		[Source] = CASE WHEN @Source IS NOT NULL THEN @Source ELSE [Source] END ,
		[Context] = CASE WHEN @Context IS NOT NULL THEN @Context ELSE [Context] END ,
		[Abstract] = CASE WHEN @Abstract IS NOT NULL THEN @Abstract ELSE [Abstract] END ,
		[Thumbnails] = CASE WHEN @Thumbnails IS NOT NULL THEN @Thumbnails ELSE [Thumbnails] END ,
		[CategoryId] = CASE WHEN @Categoryid IS NOT NULL THEN @Categoryid ELSE [CategoryId] END ,
		[CategoryTwo] = @Categorytwo ,
		[Keyword] = CASE WHEN @Keyword IS NOT NULL THEN @Keyword ELSE [Keyword] END ,
		[IsRecommend] = CASE WHEN @Isrecommend IS NOT NULL THEN @Isrecommend ELSE [IsRecommend] END ,
		[TitleColor] = CASE WHEN @Titlecolor IS NOT NULL THEN @Titlecolor ELSE [TitleColor] END ,
		[TitleIsBold] = CASE WHEN @Titleisbold IS NOT NULL THEN @Titleisbold ELSE [TitleIsBold] END ,
		[Status] = CASE WHEN @Status IS NOT NULL THEN @Status ELSE [Status] END ,
		[CreateDate] = GETDATE()
		WHERE [Id] = @Id   
	END 
	ELSE 
	BEGIN 
		INSERT INTO  Article   (  
		[Title]  ,
		[Author]  ,
		[Source]  ,
		[Context]  ,
		[Abstract]  ,
		[Thumbnails]  ,
		[CategoryId]  ,
		[CategoryTwo]  ,
		[Keyword]  ,
		[IsRecommend]  ,
		[TitleColor]  ,
		[TitleIsBold]  ,
		[Status]    
		) VALUES (  
		@Title  ,
		@Author  ,
		@Source  ,
		@Context  ,
		@Abstract  ,
		@Thumbnails  ,
		@Categoryid  ,
		@Categorytwo  ,
		@Keyword  ,
		@Isrecommend  ,
		@Titlecolor  ,
		@Titleisbold  ,
		@Status  
		) 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_article_Delete_by_id]    Script Date: 12/13/2013 17:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:        Jason.Yao
-- Create date:   2013-11-30
-- Description:   Article Delete
-- ===========================================================
Create PROCEDURE  [dbo].[usp_article_Delete_by_id]
  @Id INT 
AS
    BEGIN 
        DELETE  Article WHERE [Id] = @Id  
    END
GO
/****** Object:  Default [DF_Article_IsRecd]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_IsRecd]  DEFAULT ((0)) FOR [IsRecommend]
GO
/****** Object:  Default [DF_Article_TitleIsBold]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_TitleIsBold]  DEFAULT ((0)) FOR [TitleIsBold]
GO
/****** Object:  Default [DF_Article_Status]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_Article_CreateDate]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Category_CateLevel]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CateLevel]  DEFAULT ((0)) FOR [ParentCateg]
GO
/****** Object:  Default [DF_Category_Sort]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Sort]  DEFAULT ((99999)) FOR [Sort]
GO
/****** Object:  Default [DF_Category_IsNav]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_IsNav]  DEFAULT ((0)) FOR [IsNav]
GO
/****** Object:  Default [DF_Category_IsIndex]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_IsIndex]  DEFAULT ((0)) FOR [IsIndex]
GO
/****** Object:  Default [DF_Category_Status]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_Category_CreateDate]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Organization_Status]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF_Organization_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_Organization_CreateDate]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF_Organization_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Pictures_Owner]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Pictures] ADD  CONSTRAINT [DF_Pictures_Owner]  DEFAULT ((0)) FOR [Owner]
GO
/****** Object:  Default [DF_Pictures_Status]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Pictures] ADD  CONSTRAINT [DF_Pictures_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_Pictures_CreateDate]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[Pictures] ADD  CONSTRAINT [DF_Pictures_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_User_Organization]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Organization]  DEFAULT ((0)) FOR [Organization]
GO
/****** Object:  Default [DF_User_Status]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_User_CreateDate]    Script Date: 12/13/2013 17:15:28 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
