
.contlist{width:706px;height:24px;clear:both;text-align:left;}
.contlist_title{width:603px;height:24px;float:left;display:inline;text-align:left;}
.contlist_date{width:103px;height:24px;float:left;display:inline;text-align:left;}
