
.eventparentlist{width:1005px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.eventparentlist_left{width:731px;float:left;display:inline;text-align:left;}
.eventparentlist_right{width:274px;float:left;display:inline;text-align:left;}
