
.footer{width:1133px;height:110px;clear:both;text-align:left;}
.footer_top{width:1133px;height:40px;clear:both;display:inline-block;background-image: url(../images/footer/footer_footer_top.png);text-align:left;}
.footer_bottom{width:1133px;height:70px;clear:both;display:inline-block;text-align:left;}
