
.newlist{width:810px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.newlist_left{width:405px;float:left;display:inline;text-align:left;}
.newlist_right{width:405px;height:320px;float:left;display:inline;text-align:left;}
