body {font-size:12px;}
a {color: #000;text-decoration: none;padding-right:12px;padding-left:12px;}
a:hover {color: #2d6193;text-decoration: none;}
.container{overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:center;}
.header{width:1133px;height:119px;clear:both;display:inline-block;text-align:center;}
.content{width:1133px;clear:both;display:inline-block;text-align:center;margin-left:33px;}
.footer{width:1133px;height:110px;clear:both;display:inline-block;text-align:center;}
.indextopads_container{width:1133px;height:0px;clear:both;display:inline-block;text-align:center;}

.subMenu{width:1133px;height:80px;clear:both;display:inline-block;text-align:center;}
.mainMenu{width:1133px;height:39px;clear:both;display:inline-block;background-image: url(../images/Header_mainMenu.jpg);text-align:center;}
.mainMenu p{margin-top:10px;color: #FFFFFF; font-size:13px;}
.mainMenu p a {color: #FFFFFF;font-weight: bold;text-decoration: none;padding-right:1px; padding-left:1px;} 
.mainMenu p a:hover {color: #ffd800;font-weight: bold;text-decoration: none;}

.mainMenuIE{width:1133px;height:39px;clear:both;display:inline-block;background-image: url(../images/Header_mainMenu.jpg);text-align:center;}
.mainMenuIE p{margin-top:10px;color: #FFFFFF; font-size:13px;}
.mainMenuIE p a {color: #FFFFFF;font-weight: bold;text-decoration: none;padding-right:6px; padding-left:6px;} 
.mainMenuIE p a:hover {color: #ffd800;font-weight: bold;text-decoration: none;}


.logo{width:642px;height:80px;float:left;display:inline;text-align:left;}
.logo div{margin-left:10px;}
.subMenuRight{width:491px;height:80px;float:left;display:inline;text-align:left;}
.subMenuRightTop{width:491px;height:40px;clear:both;display:inline-block;text-align:left;}
.subMenuRightTop p {margin-right:20px;text-align:right;font-size:14px;}
.subMenuRightTop p a {color: blue;font-weight: bold;text-decoration: none;padding-right:1px;padding-left:8px;}
.subMenuRightTop p a:hover {color: #2d6193;font-weight: bold;text-decoration: none;}
.subMenuRightBottom{width:491px;height:40px;clear:both;display:inline-block;text-align:right;}
.subMenuRightBottom form{margin-right:25px;}

.footer_top{width:1133px;height:40px;clear:both;display:inline-block;background-image: url(../images/footer_footer_top.jpg);text-align:left;}
.footer_top p{text-align:center;color: #FFFFFF;margin-top:10px;font-size:14px;}
.footer_top p a {color: #FFFFFF;font-weight: bold;text-decoration: none;padding-right:12px;padding-left:12px;}
.footer_top p a:hover {color: #ffd800;font-weight: bold;text-decoration: none;}
.footer_bottom{width:1133px;height:70px;clear:both;display:inline-block;text-align:left;}
.footer_bottom p{text-align:center;color: #000000;margin-top:10px;}

.banner{width:1133px;height:98px;clear:both;display:inline-block;text-align:left;}
/*.banner div{margin-left:17px;}*/
.subcontent{width:1133px;clear:both;display:inline-block;text-align:left;} 
.subcontent_nav{width:1133px;height:32px;clear:both;display:inline-block;text-align:left; background-image: url(../images/subcontent_nav.png); background-repeat: no-repeat;}
.subcontent_nav p{color:#000000;font-size:18px;font-weight:bold;margin-left:30px;margin-top:6px;}
.subcontent_container{width:1133px;clear:both;display:inline-block;text-align:left;}
.subcontent_sidebar{width:300px;float:left;display:inline;text-align:left;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;background-image: url(../images/SidebarForum_sidebar_forum_middle_top.png);  background-repeat: repeat-y;}
.subcontent_content{width:817px;float:left;display:inline;text-align:left;}
.subcontainer{margin-left:0px;margin-top:2px;}

.sidebar_forum_top{width:288px;height:41px;clear:both;display:inline-block;background-image: url(../images/SidebarForum_sidebar_forum_top.png);text-align:left;}
.sidebar_forum_middle_top{width:288px;clear:both;display:inline-block;background-image: url(../images/SidebarForum_sidebar_forum_middle_top.png);  background-repeat: repeat-y;text-align:left; line-height:14px;}
.sidebar_forum_middle_middle{width:288px;clear:both;display:inline-block;background-image: url(../images/SidebarForum_sidebar_forum_middle_middle.png);  background-repeat: repeat-y;text-align:left;}
.sidebar_forum_middle_bottom{width:288px;clear:both;display:inline-block;background-image: url(../images/SidebarForum_sidebar_forum_middle_bottom.png);  background-repeat: repeat-y;text-align:left;}
.sidebar_forum_bottom{width:288px;height:9px;font-size:1px;clear:both;display:inline-block;background-image: url(../images/SidebarForum_sidebar_forum_bottom.png);text-align:left; line-height:9px;}
.sidebar_forum_top_left{width:239px;height:41px;float:left;display:inline;text-align:left;}
.sidebar_forum_top_right{width:49px;height:41px;float:left;display:inline;text-align:left;}
.sidebar_forum_top_left p{margin:20px 0px 0px 12px;font-weight:bold;font-size:14px;color:#2d6193;}
.sidebar_forum_top_right p{margin:20px auto auto 0px;text-align:left;}
.sidebar_forum_middle_top img{width: 262px; height: 60px; border: 1px solid #C0C0C0}
.sidebar_forum_middle_bottom div{margin-left:14px;}
.sidebar_forum_middle_bottom div iframe{border: 1px solid #C0C0C0;} 
.sidebar_forum_top_p{margin:20px 0px 0px 0px;font-weight:bold;font-size:14px;color:#2d6193;}
.sidebar_forum_top_p a{color:#2d6193;}
.sidebar_forum_middle_middle table{margin-left:40px; font-size:15px;font-weight:bold; color:#2d6193;}
.sidebar_forum_middle_middle table tr td p{margin-top:15px; }
.sidebar_forum_middle_middle_one{margin-left:10px;}
.sidebar_forum_middle_middle_two{margin-left:20px;}
.sidebar_forum_middle_middle_one_Introduction{margin-left:15px;}
.sidebar_forum_middle_middle marquee{width:250px;}
.sidebar_forum_middle_middle p{margin-right:10px;margin-left:15px;}
.sidebar_forum_middle_middle ul{margin:0 0 0 0;padding:0 10px 0 10px;}
.sidebar_forum_middle_middle ul li{margin: 5px 0 5px 0; padding: 5px 0 5px 0; list-sytle: none; list-style-type: none; border-bottom-style: dashed; border-bottom-width: 1px; border-bottom-color: #C0C0C0;}
.sidebar_forum_middle_middle ul li a{color: #000;text-decoration: none;padding-right:12px;padding-left:0px;}
.sidebar_forum_middle_middle ul li a:hover {color: #2d6193;text-decoration: none;}

.iframeccfei{width:232px;height:140px;*height:140px !important; }

.subcontainer_top{width:803px;height:10px;font-size:1px;clear:both;display:inline-block;background-image: url(../images/subcontainer_subcontainer_top.png);text-align:left; line-height:13px;}
.subcontainer_middle{width:803px;clear:both;display:inline-block;background-image: url(../images/subcontainer_subcontainer_middle.png);  background-repeat: repeat-y;text-align:left;}
.subcontainer_bottom{width:803px;height:10px;font-size:1px;clear:both;display:inline-block;background-image: url(../images/subcontainer_subcontainer_bottom.png);text-align:left; line-height:17px;}
.subcontainer_middle_one{margin-left:40px;margin-top:15px;}


.contlist{width:706px;height:24px;clear:both;text-align:left;}
.contlist_title{width:603px;height:24px;float:left;display:inline;text-align:left;}
.contlist_date{width:103px;height:24px;float:left;display:inline;text-align:left;}
.main_container{margin-left:40px;margin-top:30px;margin-right:40px;}
.subcontainer_middle{text-align:center;}
.main_container_title{font-size:18px;font-weight:bold;}
.main_container_date{color:#808080;}


.categoryforum{width:718px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;padding-left:20px;}
.categoryforum_top{width:718px;height:28px;clear:both;display:inline-block;text-align:left;}
.categoryforum_middle{width:718px;clear:both;display:inline-block;text-align:left;}
.categoryforum_middle_1{margin-left:40px;margin-top:15px;}
.categoryforum_bottom{width:718px;height:22px;clear:both;display:inline-block;text-align:left;}
.categoryforum_bottom hr{margin-left:45px;}
.categoryforum_top_left{width:637px;height:28px;float:left;display:inline;text-align:left; line-height:12px;}
.categoryforum_top_left p{margin-left:50px;font-size:16px;font-weight:bold;}
.categoryforum_top_right{width:81px;height:28px;float:left;display:inline;text-align:right;}

.indexforum{width:370px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.indexforum_top{width:370px;height:35px;clear:both;display:inline-block;background-image: url(../images/indexforum_indexforum_top.jpg);background-repeat:no-repeat;text-align:left;}
.indexforum_middle{width:370px;clear:both;display:inline-block;text-align:left;margin-top:5px;}
.indexforum_bottom{width:370px;clear:both;display:inline-block;text-align:left;}
.indexforum_bottom div{margin-left:13px;}
.indexforum_top_left{width:290px;height:35px;float:left;display:inline;text-align:left;}
.indexforum_top_left p{margin-left:27px;margin-top:9px;font-size:13px;font-weight:bold;color:#2d6193;}
.indexforum_top_right{width:80px;height:35px;float:left;display:inline;text-align:left;}
.indexforum_top_right p{text-align:right;margin-top:16px;}
.indexforum_middle p{margin:0px 8px 3px 7px;}
.indexforum_middle_top_title{margin:5px 15px 5px 15px;text-align:center;font-size:15px;font-weight:bold;}
.indexforum_middle_top_cont{margin:0px 15px 3px 15px;}
.indexforum_middle_middle{margin:9px 15px 6px 0px;*margin:5px 15px 4px 0px !important;  }
.indexforum_middle_middleIE9{margin:9px 15px 7px 0px;  }
.i_icon{width:15px;height:10px;clear:both;display:inline-block;/*background-image: url(../images/circle_blue.jpg);background-repeat:no-repeat;*/text-align:left;}
.i_icon img{border-style: none;}

.newlist{width:810px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.newlist_left{width:405px;float:left;display:inline;text-align:left;}
.newlist_left_one{padding-left:7px;}
.newlist_right{width:405px;float:left;display:inline;text-align:left;} 

.newlistIE{width:810px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.newlistIE7{width:810px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.newlistIE8{width:810px;margin-top:-7px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;} 
.newlistIE9{width:810px;margin-top:0px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;} 

.eventlist{width:692px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.eventlist_top{width:692px;clear:both;display:inline-block;text-align:left;}
.eventlist_contentlist{width:692px;clear:both;display:inline-block;text-align:left;}
.eventlist_more{width:692px;height:19px;clear:both;display:inline-block;text-align:right; line-height:19px;}
.eventlist_bottom{width:692px;height:17px;clear:both;display:inline-block;background-image: url(../images/eventlist_eventlist_bottom.png);text-align:left; line-height:17px;}
.eventlist_pic{width:224px;float:left;display:inline;text-align:left;}
.eventlist_info{width:468px;float:left;display:inline;text-align:left;}
.eventlist_info_title{width:468px;height:28px;clear:both;display:inline-block;text-align:left;}
.eventlist_info_content{width:468px;clear:both;display:inline-block;text-align:left;margin-top:-15px;}
.eventlist_info_title p{font-size:15px;font-weight:bold;margin-top:5px;margin-bottom:5px;}
.eventlist_contentlist_one{margin-left:210px;margin-top:1px;} 
.eventlist_contentlist_one p{margin:0px 0px 0px 0px;}
.eventlist_more p{text-align:right;margin-right:20px;}
.eventlist_info_content_two{margin-left:0px;margin-top:1px;} 
.eventlist_info_content_two p{margin-left:0px;margin-top:5px;margin-bottom:5px;} 
.eventlist_info_content_two p a{padding-left:0px;color:#000000;text-decoration:none;} 
.eventlist_info_content_two p a:hover{padding-left:0px;color:#2d6193;text-decoration:none;} 

.eventparentlist{width:1105px;clear:both;text-align:left;}
.eventparentlist_left{width:811px;float:left;display:inline;text-align:left;}
.eventparentlist_right{width:294px;float:left;display:inline;text-align:left;}

.magazine{width:1103px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.magazine_left{width:201px;float:left;display:inline;text-align:left;}
.magazine_middle{width:595px;float:left;display:inline;text-align:left;}
.magazine_right{width:307px;float:left;display:inline;text-align:left;}
.magazine_left_top{width:201px;clear:both;display:inline-block;text-align:left;}
.magazine_left_middle{width:201px;clear:both;display:inline-block;text-align:left;}
.magazine_middle_top{width:525px;height:51px;clear:both;display:inline-block;background-image: url(../images/Magazine_magazine_middle_top.png);text-align:left;}
.magazine_middle_middle{width:525px;clear:both;display:inline-block;text-align:left;}
.magazine_right_one{margin-left:15px;}

.main_container_magazine {margin:20px 0px 0px 40px;padding:0;}

.magazine_middle_list{width:508px;height:30px;clear:both;text-align:left;}
.magazine_middle_list_left{width:421px;height:30px;float:left;display:inline;text-align:left;}
.magazine_middle_list_right{width:87px;height:30px;float:left;display:inline;text-align:left;}

.magazine_left_top{width:201px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.magazine_left_top_top{width:201px;height:25px;clear:both;display:inline-block;text-align:left;}
.magazine_left_top_middle{width:201px;clear:both;display:inline-block;text-align:left;}
.magazine_left_top_bottom{width:201px;clear:both;display:inline-block;text-align:center;}
.magazine_left_top_top p{font-size:15px;font-weight:bold;padding:0px 0px 0px 0px;margin:7px 0px 0px 0px;text-align:center;}
.magazine_left_top_bottom a{font-size:15px;font-weight:bold;padding:10px 0px 0px 0px;}


.magazineleftmiddle{width:192px;overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left;}
.magazineleftmiddle_top{width:192px;height:39px;clear:both;display:inline-block;background-image: url(../images/magazineleftmiddle_magazineleftmiddle_top.png);text-align:left;}
.magazineleftmiddle_middle{width:192px;clear:both;display:inline-block;background-image: url(../images/magazineleftmiddle_magazineleftmiddle_middle.png);  background-repeat: repeat-y;text-align:left;}
.magazineleftmiddle_middle_top_year{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_top_moth{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_middle_year{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_middle_moth{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_bottom{width:192px;height:11px;font-size:1px;clear:both;display:inline-block;background-image: url(../images/magazineleftmiddle_magazineleftmiddle_middle_bottom.png);text-align:left; line-height:11px;}
.magazineleftmiddle_middle_top_year p{margin:5px 0px 5px 10px;padding:0px 0px 0px 0px;font-weight:bold;}
.magazineleftmiddle_middle_top_moth p{margin:5px 0px 0px 10px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_middle_year p{margin:5px 0px 5px 10px;padding:0px 0px 0px 0px;font-weight:bold;}
.magazineleftmiddle_middle_middle_moth p{margin:5px 0px 0px 10px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_top_moth p a{margin-right:5px;margin-top:3px;margin-bottom:3px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_middle_moth p a{margin-right:5px;margin-top:3px;margin-bottom:3px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_top p{text-align:right;margin-right:15px;}
.magazineleftmiddle_middle_top_moth_IE{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_top_moth_IE p{margin:5px 0px 0px 10px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_top_moth_IE p a{margin-left:5px;margin-right:5px;margin-top:3px;margin-bottom:3px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_middle_moth_IE{width:192px;clear:both;display:inline-block;text-align:left;}
.magazineleftmiddle_middle_middle_moth_IE p{margin:5px 0px 0px 10px;padding:0px 0px 0px 0px;}
.magazineleftmiddle_middle_middle_moth_IE p a{margin-left:5px;margin-right:5px;margin-top:3px;margin-bottom:3px;padding:0px 0px 0px 0px;}


.linkforum{margin-left:-2px;text-align:center;}
.linkforum img{width: 214px; height: 60px; border: 1px solid #CCCCCC;}

.speedlist{width:280px;height:21px;clear:both;text-align:left;font-size:12px;padding:0 0 8px 0;}
.speedlist_left{width:191px;height:21px;float:left;display:inline;text-align:left;}
.speedlist_right{width:89px;height:21px;float:left;display:inline;text-align:center;}
.speedlist_left p{margin:0;padding:0;}
.speedlist_right p{margin:0;padding:0;}