body {font-size:12px;}
.container{overflow:auto;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:center;}
.header{width:1133px;height:119px;clear:both;display:inline-block;text-align:center;}
.content{width:1133px;clear:both;display:inline-block;text-align:center;}
.footer{width:1133px;height:110px;clear:both;display:inline-block;text-align:center;}

.subMenu{width:1133px;height:80px;clear:both;display:inline-block;text-align:center;}
.mainMenu{width:1133px;height:39px;clear:both;display:inline-block;background-image: url(../images/Header_mainMenu.jpg);text-align:center;}
.mainMenu p{margin-top:10px;color: #FFFFFF; font-size:14px;}
.mainMenu p a {color: #FFFFFF;font-weight: bold;text-decoration: none;padding-right:10px; padding-left:10px;} 
.mainMenu p a:hover {color: #ffd800;font-weight: bold;text-decoration: none;}



.logo{width:642px;height:80px;float:left;display:inline;text-align:left;}
.logo div{margin-left:10px;}
.subMenuRight{width:491px;height:80px;float:left;display:inline;text-align:left;}
.subMenuRightTop{width:491px;height:40px;clear:both;display:inline-block;text-align:left;}
.subMenuRightTop p {margin-right:20px;text-align:right;font-size:14px;}
.subMenuRightTop p a {color: blue;font-weight: bold;text-decoration: none;padding-right:12px;padding-left:12px;}
.subMenuRightTop p a:hover {color: orange;font-weight: bold;text-decoration: none;}
.subMenuRightBottom{width:491px;height:40px;clear:both;display:inline-block;text-align:left;}

.footer_top{width:1133px;height:40px;clear:both;display:inline-block;background-image: url(../images/footer_footer_top.jpg);text-align:left;}
.footer_top p{text-align:center;color: #FFFFFF;margin-top:10px;font-size:14px;}
.footer_top p a {color: #FFFFFF;font-weight: bold;text-decoration: none;padding-right:12px;padding-left:12px;}
.footer_top p a:hover {color: #ffd800;font-weight: bold;text-decoration: none;}
.footer_bottom{width:1133px;height:70px;clear:both;display:inline-block;text-align:left;}
.footer_bottom p{text-align:center;color: #000000;margin-top:10px;}

.banner{width:1133px;height:98px;clear:both;display:inline-block;text-align:left;}
.subcontent{width:1133px;clear:both;display:inline-block;text-align:left;}
.subcontent_nav{width:1133px;height:32px;clear:both;display:inline-block;text-align:left;}
.subcontent_container{width:1133px;clear:both;display:inline-block;text-align:left;}
.subcontent_sidebar{width:316px;float:left;display:inline;text-align:left;}
.subcontent_content{width:817px;float:left;display:inline;text-align:left;}